---
Language: Cpp
BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false

PointerAlignment: Right
ReferenceAlignment: Pointer
DerivePointerAlignment: false

NamespaceIndentation: All
IndentCaseLabels: true
AccessModifierOffset: -4

SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInCStyleCastParentheses: false

AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true

IncludeBlocks: Preserve
SortIncludes: CaseSensitive
